<footer>
    <div class="links">
        <div>
            <h3>Community</h3>
            <ul>
                <li>
                    <a
                        href="https://discord.gg/FcSNfg4"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span>
                            Discord
                            <svg
                                width="13.5"
                                height="13.5"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Social</h3>
            <ul>
                <li>
                    <a
                        href="https://github.com/microsoft/fast-tooling"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span>
                            GitHub
                            <svg
                                width="13.5"
                                height="13.5"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a
                        href="https://twitter.com/FAST_UI"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span>
                            Twitter
                            <svg
                                width="13.5"
                                height="13.5"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h3>&nbsp;</h3>
            <ul>
                <li>
                    <a
                        href="https://github.com/microsoft/fast-tooling/blob/main/LICENSE"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span>
                            License
                            <svg
                                width="13.5"
                                height="13.5"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a
                        href="https://go.microsoft.com/fwlink/?LinkId=521839"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span>
                            Privacy &amp; cookies
                            <svg
                                width="13.5"
                                height="13.5"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a
                        href="https://go.microsoft.com/fwlink/?LinkID=206977"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span>
                            Terms of use
                            <svg
                                width="13.5"
                                height="13.5"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.microsoft.com/trademarks"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span>
                            Trademarks
                            <svg
                                width="13.5"
                                height="13.5"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div>© Microsoft <%- new Date().getFullYear() %></div>
    </div>
</footer>
