<!DOCTYPE html>

<html lang="en">
    <head>
        <%= htmlWebpackPlugin.options.metaTemplate %> <%=
        htmlWebpackPlugin.options.styleTemplate %>
    </head>

    <body class="<%= htmlWebpackPlugin.options.isFrontpage ? '' : 'docs' %>">
        <div class="mobile-overlay"></div>
        <div>
            <%= htmlWebpackPlugin.options.toolbarTemplate %>

            <main>
                <%= htmlWebpackPlugin.options.isFrontpage ? "" :
                htmlWebpackPlugin.options.sidebar %>

                <div class="container">
                    <%= htmlWebpackPlugin.options.versionInfo ?
                    htmlWebpackPlugin.options.versionInfo : "" %>
                    <div class="content"><%= htmlWebpackPlugin.options.content %></div>
                    <div class="index"><%= htmlWebpackPlugin.options.index %></div>
                </div>
            </main>
        </div>

        <%= htmlWebpackPlugin.options.footerTemplate %>
    </body>
</html>
