<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>FAST Tooling</title>
<meta
    name="description"
    content="A system of development tools, and utilities used à la carte or as a suite to build enterprise-grade websites and applications."
/>
<meta name="author" content="Microsoft" />

<meta
    property="og:title"
    content="A system of development tools, and utilities used à la carte or as a suite to build enterprise-grade websites and applications."
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://microsoft.github.io/fast-tooling/" />
<meta
    property="og:description"
    content="A system of development tools, and utilities used à la carte or as a suite to build enterprise-grade websites and applications."
/>
<meta property="og:image" content="image.png" />

<link rel="icon" href="<%- baseUrl %>/favicon.ico" />
<link rel="icon" href="<%- baseUrl %>/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="<%- baseUrl %>/apple-touch-icon.png" />
