<div class="frontpage">
    <h1>Design to Code</h1>
    <p>
        This is the Design to Code project, containing a set of packages that can be
        combined to create complex workflows for web applications. The goal of these
        workflows is to allow users to create and modify their own web based experiences,
        from individual web components to completed web sites.
    </p>
    <div class="card-container">
        <div class="card">
            <h2>Dive in</h2>
            <p>
                Get started with our
                <a href="<%- baseUrl %>/docs/introduction">introduction</a>
                which will explain the fundamentals of how the tooling ecosystem works and
                what you need to get going.
            </p>
        </div>
        <div class="card">
            <h2>Browse our examples</h2>
            <p>
                There are a number of components and services available from our packages
                that can be registered with the message system. To get an overview of how
                these can be combined, check out our
                <a href="<%- baseUrl %>/docs/examples">examples</a>
                .
            </p>
        </div>
        <div class="card">
            <h2>Create a service</h2>
            <p>
                Want to interact with the message system with your own service? To find
                out more read the page on
                <a
                    href="<%- baseUrl %>/docs/design-to-code/0.x/message-system-services/create-a-service"
                >
                    creating a service
                </a>
                .
            </p>
        </div>
    </div>
</div>
